---
layout: default
title: 1 annonces
---

{% include header.html %}

            
<div class="content  content--900">
    <a href="#" class="black  six-eighths margin-auto  display-block  palm-one-whole">
        <div class="brand-block  p">
            <div class="brand-block__title  uppercase  zeta">Pau Centre</div>
              <img src="images/laforet/laforet4.jpg" alt="laforet1" class="brand-block__img  mt mb">
              <p class="brand-block__text  epsilon  mb">Au calme, appartement T2 bis, sans vis-à-vis, doté d'un séjour avec balcon, cadre verdoyant, rangements, proche des facultés et des commodités, place de parking couverte. Classe énergie : D</p>
            <div class="brand-block__footer  zeta"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">32000 €</span></div>
        </div>
    </a>
</div>


{% include nav.html param="1-annonce" %}