---
layout: default
title: 2 annonces
---

<div class="display-block  margin-auto">
{% include header.html %}
        <div class="content  layout">
          <div class="layout__item  one-whole">
            <a href="#" class="brand-block  black media">
              <img src="http://lorempixel.com/400/299/" alt="image.png" class="media__img one-half">
              <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit voluptate cum in eius, amet architecto.</p>
            </a>
          </div><!--
          --><div class="layout__item  one-whole">
                <a href="#" class="brand-block  black  media">
                    <img src="http://lorempixel.com/400/301/" alt="image.png" class="media__img--rev  one-half">
                    <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit voluptate cum in eius, amet architecto.</p>
                </a>
              </div>
        </div>
</div>

{% include nav.html %}