---
layout: default
title: 2 annonces
---

  <div class="display-block  margin-auto">
  {% include header.html %}
          <div class="content  layout">
            <div class="layout__item  one-whole">
              <a href="#" class="black">
                <div class="media  mb+">
                  <img src="images/laforet/laforet19.jpg" alt="image.png" class="media__img one-half">
                  <div class="brand-block  media__body position-r">
                    <div class="brand-block__title  uppercase  delta pv--">Pau Centre</div>
                    <p class="epsilon  mt+ mh">Appartement T3 composé de 2 chambres, d'un agréable séjour donnant sur balcon, proche des commodités à pied, garage fermé, cave. Classe énergie : D</p>
                    <div class="brand-block__footer  zeta"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">32000 &euro;</span></div>
                  </div>
                </div>
              </a>
            </div><!--
            --><div class="layout__item  one-whole">
                  <a href="#" class="black">
                    <div class="media  media--rev">
                      <img src="images/laforet/laforet19.jpg" alt="image.png" class="media__img one-half">
                      <div class="brand-block  media__body  position-r">
                        <div class="brand-block__title  uppercase  delta  pv--">Pau Centre</div>
                        <p class="epsilon  mt+ mh">Appartement T3 composé de 2 chambres, d'un agréable séjour donnant sur balcon, proche des commodités à pied, garage fermé, cave. Classe énergie : D</p>
                        <div class="brand-block__footer  zeta"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">32000 &euro;</span></div>
                      </div>
                    </div>
                  </a>
                </div>
          </div>
  </div>

{% include nav.html param="2-annonces" %}