---
layout: default
title: 6 annonces
---

<div class="display-block  margin-auto">
        {% include header.html %}
        <div class="content  layout">
          <div class="layout__item two-thirds  palm-one-whole">
            <a href="#" class="brand-block  black">
              <img src="http://lorempixel.com/800/600/" alt="image.png" class="brand-block__img">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit voluptate cum in eius, amet architecto.</p>
            </a>
          </div><!--
          --><div class="layout__item  one-third  palm-one-whole  palm-no-padding-lr">
              <a href="#" class="brand-block  black  layout__item  palm-one-half">
                <img src="http://lorempixel.com/400/200/" alt="image.png" class="brand-block__img">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit voluptate cum in eius, amet architecto.</p>
              </a><!--
              --><a href="#" class="brand-block  black  layout__item  palm-one-half">
                <img src="http://lorempixel.com/400/200/" alt="image.png" class="brand-block__img">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit voluptate cum in eius, amet architecto.</p>
              </a>
          </div>
        </div>
        <div class="content  layout">
          <a href="#" class="brand-block  layout__item  black  one-third  palm-one-half">
            <img src="http://lorempixel.com/400/199/" alt="image.png" class="brand-block__img">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit voluptate cum in eius, amet architecto.</p>
          </a><!--
          --><a href="#" class="brand-block  layout__item  black  one-third  palm-one-half">
            <img src="http://lorempixel.com/400/201/" alt="image.png" class="brand-block__img">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit voluptate cum in eius, amet architecto.</p>
          </a><!--
          --><a href="#" class="brand-block  layout__item  black  one-third  palm-one-half">
            <img src="http://lorempixel.com/400/202/" alt="image.png" class="brand-block__img">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit voluptate cum in eius, amet architecto.</p>
          </a>
        </div>
</div>

{% include nav.html %}