<div class="wrapper">
    {% include header.html %}
    
            <div class="content  mb100">
                <a href="http://www.acheter-louer.fr/perl/annonces/searchfiche_xml.pl?webmag=/bookflash/ouestparisien/&techno=flashbook&idannonce=29454746&idagence=1613" target="_blank" class="black  six-eighths margin-auto  display-block  palm-one-whole">
                    <div class="brand-block  p">
                        <div class="brand-block__title  uppercase  zeta">Pau Centre</div>
                          <img src="images/laforet/laforet4.jpg" alt="laforet1" class="brand-block__img  mt mb">
                          <p class="brand-block__text  epsilon  mb">Au calme, appartement T2 bis, sans vis-à-vis, doté d'un séjour avec balcon, cadre verdoyant, rangements, proche des facultés et des commodités, place de parking couverte. Classe énergie : D</p>
                        <div class="brand-block__footer  zeta"><span class="brand-block__ref  float--left">Réf.:51736616</span><span class="brand-block__price  float--right  weight--semibold">32000 €</span></div>
                    </div>
                </a>
            </div>
</div>
