<div class="wrapper">
  <div class="display-block  margin-auto  mb100">
    <div class="layout">
        <!-- to hide the address section add this param to the include header : param="hide-header-section"  -->
        <div class="layout__item one-half palm-one-whole  show-cta-palm">{% include header.html param="hide-header-section" param2="show-call-to-action" %}</div><!--
        --><div class="layout__item one-half hide-palm  hide-address-lap">{% include header.html param2="show-call-to-action" %}</div>
        <div class="layout__item one-half    palm-one-whole">
            <div class="content  layout">
              <a href="http://www.acheter-louer.fr/perl/annonces/searchfiche_xml.pl?webmag=/bookflash/ouestparisien/&techno=flashbook&idannonce=29454746&idagence=1613" target="_blank" class="layout__item  black  one-half palm-one-whole">
                <div class="brand-block">
                    <div class="brand-block__title  uppercase  delta  pv--">Pau Centre</div>
                    <img src="images/laforet/laforet32.jpg" alt="image.png" class="brand-block__img">
                    <p class="brand-block__text  zeta">Appartement T3 composé de 2 chambres, d'un agréable séjour donnant sur balcon, proche des commodités à pied, garage fermé, cave. Classe énergie : D</p>
                    <div class="brand-block__footer"><span class="float--left  brand-block__ref">Réf.:51736616</span><span class="brand-block__price  float--right  weight--semibold">32000 &euro;</span></div>
                </div>
              </a><!--
              --><a href="http://www.acheter-louer.fr/perl/annonces/searchfiche_xml.pl?webmag=/bookflash/ouestparisien/&techno=flashbook&idannonce=29454746&idagence=1613" target="_blank" class="layout__item  black  one-half palm-one-whole">
                <div class="brand-block">
                    <div class="brand-block__title  uppercase  delta  pv--">Pau Centre</div>
                    <img src="images/laforet/laforet33.jpg" alt="image.png" class="brand-block__img">
                    <p class="brand-block__text  zeta">Appartement T3 composé de 2 chambres, d'un agréable séjour donnant sur balcon, proche des commodités à pied, garage fermé, cave. Classe énergie : D</p>
                    <div class="brand-block__footer"><span class="float--left  brand-block__ref">Réf.:51736616</span><span class="brand-block__price  float--right  weight--semibold">32000 &euro;</span></div>
                </div>
              </a>
            </div><!--
            --><div class="layout__item one-sixth"></div>
      </div><!--
      --><div class="layout__item one-half    palm-one-whole">
            <div class="content  layout">
              <a href="http://www.acheter-louer.fr/perl/annonces/searchfiche_xml.pl?webmag=/bookflash/ouestparisien/&techno=flashbook&idannonce=29454746&idagence=1613" target="_blank" class="layout__item  black  one-half palm-one-whole">
                <div class="brand-block">
                    <div class="brand-block__title  uppercase  delta  pv--">Pau Centre</div>
                    <img src="images/laforet/laforet32.jpg" alt="image.png" class="brand-block__img">
                    <p class="brand-block__text  zeta">Appartement T3 composé de 2 chambres, d'un agréable séjour donnant sur balcon, proche des commodités à pied, garage fermé, cave. Classe énergie : D</p>
                    <div class="brand-block__footer"><span class="float--left  brand-block__ref">Réf.:51736616</span><span class="brand-block__price  float--right  weight--semibold">32000 &euro;</span></div>
                </div>
              </a><!--
              --><a href="http://www.acheter-louer.fr/perl/annonces/searchfiche_xml.pl?webmag=/bookflash/ouestparisien/&techno=flashbook&idannonce=29454746&idagence=1613" target="_blank" class="layout__item  black  one-half palm-one-whole">
                <div class="brand-block">
                    <div class="brand-block__title  uppercase  delta  pv--">Pau Centre</div>
                    <img src="images/laforet/laforet33.jpg" alt="image.png" class="brand-block__img">
                    <p class="brand-block__text  zeta">Appartement T3 composé de 2 chambres, d'un agréable séjour donnant sur balcon, proche des commodités à pied, garage fermé, cave. Classe énergie : D</p>
                    <div class="brand-block__footer"><span class="float--left  brand-block__ref">Réf.:51736616</span><span class="brand-block__price  float--right  weight--semibold">32000 &euro;</span></div>
                </div>
              </a>
            </div><!--
            --><div class="layout__item one-sixth"></div>
      </div>
    </div>
  </div>
</div>

