<div class="wrapper">
  <div class="display-block  margin-auto  mb100">
  {% include header.html %}
          <div class="content  layout">
            <a href="http://www.acheter-louer.fr/perl/annonces/searchfiche_xml.pl?webmag=/bookflash/ouestparisien/&techno=flashbook&idannonce=29454746&idagence=1613" target="_blank" class="layout__item  black  one-half">
              <div class="brand-block">
                  <div class="brand-block__title  uppercase  delta  pv--">Pau Centre</div>
                  <img src="images/laforet/laforet32.jpg" alt="image.png" class="brand-block__img">
                  <p class="brand-block__text  zeta">Appartement T3 composé de 2 chambres, d'un agréable séjour donnant sur balcon, proche des commodités à pied, garage fermé, cave. Classe énergie : D</p>
                  <div class="brand-block__footer"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">32000 &euro;</span></div>
              </div>
            </a><!--
            --><a href="http://www.acheter-louer.fr/perl/annonces/searchfiche_xml.pl?webmag=/bookflash/ouestparisien/&techno=flashbook&idannonce=29454746&idagence=1613" target="_blank" class="layout__item  black  one-half">
              <div class="brand-block">
                  <div class="brand-block__title  uppercase  delta  pv--">Pau Centre</div>
                  <img src="images/laforet/laforet33.jpg" alt="image.png" class="brand-block__img">
                  <p class="brand-block__text  zeta">Appartement T3 composé de 2 chambres, d'un agréable séjour donnant sur balcon, proche des commodités à pied, garage fermé, cave. Classe énergie : D</p>
                  <div class="brand-block__footer"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">32000 &euro;</span></div>
              </div>
            </a><!--
            --><a href="http://www.acheter-louer.fr/perl/annonces/searchfiche_xml.pl?webmag=/bookflash/ouestparisien/&techno=flashbook&idannonce=29454746&idagence=1613" target="_blank" class="layout__item  black  one-half">
              <div class="brand-block">
                  <div class="brand-block__title  uppercase  delta  pv--">Pau Centre</div>
                  <img src="images/laforet/laforet34.jpg" alt="image.png" class="brand-block__img">
                  <p class="brand-block__text  zeta">Appartement T3 composé de 2 chambres, d'un agréable séjour donnant sur balcon, proche des commodités à pied, garage fermé, cave. Classe énergie : D</p>
                  <div class="brand-block__footer"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">32000 &euro;</span></div>
              </div>
            </a><!--
            --><a href="http://www.acheter-louer.fr/perl/annonces/searchfiche_xml.pl?webmag=/bookflash/ouestparisien/&techno=flashbook&idannonce=29454746&idagence=1613" target="_blank" class="layout__item  black  one-half">
              <div class="brand-block">
                  <div class="brand-block__title  uppercase  delta  pv--">Pau Centre</div>
                  <img src="images/laforet/laforet35.jpg" alt="image.png" class="brand-block__img">
                  <p class="brand-block__text  zeta">Appartement T3 composé de 2 chambres, d'un agréable séjour donnant sur balcon, proche des commodités à pied, garage fermé, cave. Classe énergie : D</p>
                  <div class="brand-block__footer"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">32000 &euro;</span></div>
              </div>
              </a>
          </div>
  </div>
</div>

