<div class="wrapper annonces-9">
  <div class="layout  mb100">
      <div class="layout__item one-half    palm-one-whole">
        {% include header.html param="hide-header-section" %}
          <div class="content  layout  9-annonces">
            <a href="#" class="layout__item  black  one-third  palm-one-half  lap-one-half  portable-one-half  soft--bottom">
              <div class="brand-block">
              <div class="brand-block__title  uppercase">Pau Centre</div>
              <img src="images/laforet/laforet1.jpg" alt="image.png" class="brand-block__img">
              <div class="excerpt-wrap">
                <p class="brand-block__text lh1 excerpt">Studio composé d'un coin cuisine, et d'une pièce principale très lumineuse, situé dans une rue calme, proche de toutes les commodités, idéal 1er achat ou investisseur. Classe énergie : G</p>
              </div>
              <div class="brand-block__footer  smallprint"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">32 000 &euro;</span></div>
              </div>
            </a><!--
            --><a href="#" class="layout__item  black  one-third  palm-one-half  lap-one-half  portable-one-half  soft--bottom">
              <div class="brand-block">
              <div class="brand-block__title  uppercase">Pau Centre</div>
              <img src="images/laforet/laforet2.jpg" alt="image.png" class="brand-block__img">
              <div class="excerpt-wrap">
                <p class="brand-block__text lh1 excerpt">Appartement T3 traversant composé d'une entrée, un agréable séjour lumineux, 2 chambres, SdB, de nombreux rangements, une cave et un garage. Situé dans une résidence avec ascenseur. Proche de toutes les commodités. Classe énergie : D</p>
              </div>
              <div class="brand-block__footer  smallprint"><span class="float--left">Réf.:51805576</span><span class="float--right  weight--semibold">77 000 &euro;</span></div>
              </div>
            </a><!--
            --><a href="#" class="layout__item  black  one-third  palm-one-half  lap-one-half  portable-one-half  soft--bottom">
              <div class="brand-block">
              <div class="brand-block__title  uppercase">Pau Centre</div>
              <img src="images/laforet/laforet3.jpg" alt="image.png" class="brand-block__img">
              <div class="excerpt-wrap">
                <p class="brand-block__text lh1 excerpt">rand appartement T2 rénové composé d'un agréable séjour lumineux, cuisine équipée prolongée d'une loggia, cellier, cham- bre, SdB. Vous serez séduits par son agencement proche des commodités. Classe énergie : C</p>
              </div>
              <div class="brand-block__footer  smallprint"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">32000 &euro;</span></div>
              </div>
            </a><!--
            --><a href="#" class="layout__item  black  one-third  palm-one-half  lap-one-half  portable-one-half  soft--bottom">
              <div class="brand-block">
              <div class="brand-block__title  uppercase">Pau Centre</div>
              <img src="images/laforet/laforet4.jpg" alt="image.png" class="brand-block__img">
              <div class="excerpt-wrap">
                <p class="brand-block__text lh1 excerpt">Proche centre, T2 en bon état, composé d'un beau séjour lumineux donnant sur balcon plein sud avec vue sur les Pyrénées, cuisine aménagée, SdB, une chambre, une cave. Dans une résidence avec ascenseur proche de toutes les commodités. Classe énergie : C</p>
              </div>
              <div class="brand-block__footer  smallprint"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">32000 &euro;</span></div>
              </div>
            </a><!--
            --><a href="#" class="layout__item  black  one-third  palm-one-half  lap-one-half  portable-one-half  soft--bottom">
              <div class="brand-block">
              <div class="brand-block__title  uppercase">Pau Centre</div>
              <img src="images/laforet/laforet5.jpg" alt="image.png" class="brand-block__img">
              <div class="excerpt-wrap">
                <p class="brand-block__text lh1 excerpt">Appartement T3 composé de 2 chambres, d'un agréable séjour donnant sur balcon, proche des commodités à pied, garage fermé, cave. . Classe énergie : D</p>
              </div>
              <div class="brand-block__footer  smallprint"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">32000 &euro;</span></div>
              </div>
            </a><!--
            --><a href="#" class="layout__item  black  one-third  palm-one-half  lap-one-half  portable-one-half  soft--bottom">
              <div class="brand-block">
              <div class="brand-block__title  uppercase">Pau Centre</div>
              <img src="images/laforet/laforet6.jpg" alt="image.png" class="brand-block__img">
              <div class="excerpt-wrap">
                <p class="brand-block__text lh1 excerpt">Allées de Morlaas, appartement T4 doté d'un grand séjour lumineux avec balcon, vous serez séduits par son agencement, cave et parking collectif. Classe énergie : D</p>
              </div>
              <div class="brand-block__footer  smallprint"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">32000 &euro;</span></div>
              </div>
            </a><!--
            --><a href="#" class="layout__item  black  one-third  palm-one-half  lap-one-half  portable-one-half  soft--bottom">
              <div class="brand-block">
              <div class="brand-block__title  uppercase">Pau Centre</div>
              <img src="images/laforet/laforet7.jpg" alt="image.png" class="brand-block__img">
              <div class="excerpt-wrap">
                <p class="brand-block__text lh1 excerpt">Un pavillon et une dépendance offrant de multiples possibilités d'aménagements. L'ensemble sur un terrain viabilisé de 1200m2. l Un réel potentiel à valoriser. Classe énergie : D</p>
              </div>
              <div class="brand-block__footer  smallprint"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">32000 &euro;</span></div>
              </div>
            </a><!--
            --><a href="#" class="layout__item  black  one-third  palm-one-half  lap-one-half  portable-one-half  soft--bottom">
              <div class="brand-block">
              <div class="brand-block__title  uppercase">Pau Centre</div>
              <img src="images/laforet/laforet8.jpg" alt="image.png" class="brand-block__img">
              <div class="excerpt-wrap">
                <p class="brand-block__text lh1 excerpt">Appartement T3 traversant doté d'un séjour lumineux, prolongé par un grand balcon plein Sud, 2 chambres, cuisine, SdB, wc, nombreux rangements, au calme avec ascenseur et proche de toutes les commodités. Parking aisé. Classe énergie : D</p>
              </div>
              <div class="brand-block__footer  smallprint"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">32000 &euro;</span></div>
              </div>
            </a><!--
            --><a href="#" class="layout__item  black  one-third  palm-one-half  lap-one-half  portable-one-half  soft--bottom">
              <div class="brand-block">
              <div class="brand-block__title  uppercase">Pau Centre</div>
              <img src="images/laforet/laforet9.jpg" alt="image.png" class="brand-block__img">
              <div class="excerpt-wrap">
                <p class="brand-block__text lh1 excerpt">Appartement T3 composé d'une entrée, un agréable séjour, 2 chambres, SdB, cuisine, vue agréable, terrasse au calme et sans vis-à-vis au coeur de la ville de 17m2, ascenseur et cave, proche de toutes les commodités. Classe énergie : D</p>
              </div>
              <div class="brand-block__footer  smallprint"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">32000 &euro;</span></div>
              </div>
            </a>
          </div>
      </div><!--
      --><div class="layout__item one-half  palm-one-whole">
          {% include header.html param="hide-header-section" %}
          <div class="content  layout  9-annonces">
            <a href="#" class="layout__item  black  one-third  palm-one-half  lap-one-half  portable-one-half  soft--bottom">
  
              <div class="brand-block">
                <div class="brand-block__title  uppercase">Pau Centre</div>
                <img src="images/laforet/laforet1.jpg" alt="image.png" class="brand-block__img">
                <div class="excerpt-wrap">
                  <p class="brand-block__text lh1 excerpt">Au calme, appartement T2 bis, sans vis-à-vis, doté d'un séjour avec balcon, cadre verdoyant, rangements, proche des facultés et des commodités, place de parking couverte. Classe énergie : D</p>
                </div>
                <div class="brand-block__footer  smallprint"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">32000 €</span></div>
              </div>
  
            </a><!--
            --><a href="#" class="layout__item  black  one-third  palm-one-half  lap-one-half  portable-one-half  soft--bottom">
              <div class="brand-block">
              <div class="brand-block__title  uppercase">Pau Centre</div>
              <img src="images/laforet/laforet10.jpg" alt="image.png" class="brand-block__img">
              <div class="excerpt-wrap">
                <p class="brand-block__text lh1 excerpt">Proche du Tribunal, appartement atypique, 2 chambres, cuisine équipée, séjour, salle à manger, cellier, cave. Vous serez séduits par le charme de l'ancien. Classe énergie : NC</p>
              </div>
              <div class="brand-block__footer  smallprint"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">32000 &euro;</span></div>
              </div>
            </a><!--
            --><a href="#" class="layout__item  black  one-third  palm-one-half  lap-one-half  portable-one-half  soft--bottom">
              <div class="brand-block">
              <div class="brand-block__title  uppercase">Pau Centre</div>
              <img src="images/laforet/laforet11.jpg" alt="image.png" class="brand-block__img">
              <div class="excerpt-wrap">
                <p class="brand-block__text lh1 excerpt">Maison T4 composée de 3 chambres, d'un agréable séjour lumi- neux doté d'une bonne qualité de construction, agréable parcelle de 660m2. Proche des commodités à pied et arrêt de bus. . Classe énergie : E</p>
              </div>
              <div class="brand-block__footer  smallprint"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">32000 &euro;</span></div>
              </div>
            </a><!--
            --><a href="#" class="layout__item  black  one-third  palm-one-half  lap-one-half  portable-one-half  soft--bottom">
              <div class="brand-block">
              <div class="brand-block__title  uppercase">Pau Centre</div>
              <img src="images/laforet/laforet12.jpg" alt="image.png" class="brand-block__img">
              <div class="excerpt-wrap">
                <p class="brand-block__text lh1 excerpt">Résidence Aspin, appartement T4 composé d'un dble séjour lu- mineux prolongé d'un grand balcon plein Sud avec une belle vue Pyrénées, 2 chambres, SdE, cuisine. Proche des arrêts de bus et dans un secteur calme. . Classe énergie : D</p>
              </div>
              <div class="brand-block__footer  smallprint"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">32000 &euro;</span></div>
              </div>
            </a><!--
            --><a href="#" class="layout__item  black  one-third  palm-one-half  lap-one-half  portable-one-half  soft--bottom">
              <div class="brand-block">
              <div class="brand-block__title  uppercase">Pau Centre</div>
              <img src="images/laforet/laforet13.jpg" alt="image.png" class="brand-block__img">
              <div class="excerpt-wrap">
                <p class="brand-block__text lh1 excerpt">Maison T6 sur 2 niveaux dotée d'une excellente qualité de construction, 5 chambres dont 2 en RdC, SdB, SdE, un vaste sé- jour avec cheminée. Situé dans un secteur calme, idéal pour une grand famille. Classe énergie : C</p>
              </div>
              <div class="brand-block__footer  smallprint"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">32000 &euro;</span></div>
              </div>
            </a><!--
            --><a href="#" class="layout__item  black  one-third  palm-one-half  lap-one-half  portable-one-half  soft--bottom">
              <div class="brand-block">
              <div class="brand-block__title  uppercase">Pau Centre</div>
              <img src="images/laforet/laforet14.jpg" alt="image.png" class="brand-block__img">
              <div class="excerpt-wrap">
                <p class="brand-block__text lh1 excerpt">roche centre, en dernier étage, appartement T4 composé de 3 chbres, bureau, séjour avec cheminée prolongé par des baies vitrées donnant sur balcon, vue Pyrénées. Grande terrasse de 40m2, vue Château de Pau, venant compléter ses belles prestations, double garage, cave,</p>
              </div>
              <div class="brand-block__footer  smallprint"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">32000 &euro;</span></div>
              </div>
            </a><!--
            --><a href="#" class="layout__item  black  one-third  palm-one-half  lap-one-half  portable-one-half  soft--bottom">
              <div class="brand-block">
              <div class="brand-block__title  uppercase">Pau Centre</div>
              <img src="images/laforet/laforet15.jpg" alt="image.png" class="brand-block__img">
              <div class="excerpt-wrap">
                <p class="brand-block__text lh1 excerpt">Secteur Péboué, maison T8 sur 2 nivx en excellent état dotée d'une remarquable qualité de construction. Vaste séjour, 6 chbres, 1 SdB, 2 SdE, 2 cuisines aménagées, nbreux rangts. Atelier et garage, piscine. Des surfaces et des volumes très confortables dans secteur calme</p>
              </div>
              <div class="brand-block__footer  smallprint"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">32000 &euro;</span></div>
              </div>
            </a><!--
            --><a href="#" class="layout__item  black  one-third  palm-one-half  lap-one-half  portable-one-half  soft--bottom">
              <div class="brand-block">
              <div class="brand-block__title  uppercase">Pau Centre</div>
              <img src="images/laforet/laforet16.jpg" alt="image.png" class="brand-block__img">
              <div class="excerpt-wrap">
                <p class="brand-block__text lh1 excerpt">20 minutes de Pau. Maison de maître T9 avec charme et cachet unique, des vo- lumes et des surfaces très confortables, de nombreuses possibilités d'aména- gement supplémentaires s'offrent à vous, dans cadre verdoyant avec vue sur</p>
              </div>
              <div class="brand-block__footer  smallprint"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">32000 &euro;</span></div>
              </div>
            </a><!--
            --><a href="#" class="layout__item  black  one-third  palm-one-half  lap-one-half  portable-one-half  soft--bottom">
              <div class="brand-block">
              <div class="brand-block__title  uppercase">Pau Centre</div>
              <img src="images/laforet/laforet17.jpg" alt="image.png" class="brand-block__img">
              <div class="excerpt-wrap">
                <p class="brand-block__text lh1 excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit voluptate cum in eius, amet architecto.</p>
              </div>
              <div class="brand-block__footer  smallprint"><span class="float--left">Réf.:51736616</span><span class="float--right  weight--semibold">735 000 &euro;</span></div>
              </div>
            </a>
          </div>
      </div>
  </div>
  </div>