<!--[if lt IE 10]>
	<p class="browsehappy">Vous utilisez un navigateur <strong>dépassé</strong>. Veuillez <a href="http://browsehappy.com/">mettre à jour votre navigateur</a> afin d'améliorer votre expérience sur ce site.</p>
<![endif]-->

<div class="header cf p-  push--bottom">
  <div class="logo  mr">
    <a href="/"><img src="images/laforet/logo.png" width="100" alt="logo" class="float--left"></a>
  </div>
  <a href="#" class="open-mobile-address  alpha  float--right">+</a>
  <address class="adresse  cf  flush--bottom  float--left">
    <div class="float--left  push-half--top  palm-no-margin  ">
      <div class="epsilon weight--semibold  brand-color">Ville</div>
      <div class="brand-color  hide-palm">Adresse</div>
       <div class="epsilon weight--semibold  brand-color">Téléphone</div>
    </div>
    <div class="float--left  push-half--top  push--left hide-palm  palm-clear--both  palm-no-margin">
      <div class="epsilon weight--semibold  brand-color">Ville2</div>
      <div class="brand-color">Adresse</div>
       <div class="epsilon weight--semibold  brand-color">Téléphone2</div>
    </div>
  </address>
  
  <div class="islet  flush--bottom float--right  palm-clear--both  hide-palm  palm-float--left"></div>

</div>


