<div class="wrapper clearfix">
	<div class="cover">
		<div class="cover--logo">
		  <a href="/"><img src="images/laforet/logo--large.png" alt="logo"></a>
		</div>
		<div class="cover--baseline brand-color  text--center  delta  mt">L’immobilier des Landes, du Pays Basque, du Béarn et de la Bigorre</div>

		<div class="cover--content">
			<img src="images/laforet/laforet-cover.png" alt="la foret couverture" class="cover--main-img  mt">
		</div>

		<div class="cover--footer">
			
		</div>
		<div class="next-page-pulse">
		</div>
		<a href="#" class="next-page go-home">Sommaire</a>
	</div>
</div>