<div class="wrapper">
	{% include header.html %}
	<div class="display-block two-thirds  margin-auto  palm-one-whole">
		<p class="date  uppercase  grey  text--center">octobre/novembre 2014</p>
	
		<h1 class="blue  text--center  gamma--mobile">L'immobilier des Landes, du Pays Basque, du Béarn et de la Bigorre</h1>
		
		<ul class="menu list-ui  list-ui--small">
		  <li class="list-ui__item"><span class="uppercase  grey">Sommaire<span class="arrow-right">></span></span></li>
		  <li class="list-ui__item"><span class="uppercase  grey">Page simple <span class="arrow-right">></span></span></li>
		  <li class="list-ui__item"><span class="uppercase  grey">9 annonces <span class="arrow-right">></span></span></li>
		  <li class="list-ui__item"><span class="uppercase  grey">6 annonces <span class="arrow-right">></span></span></li>
		  <li class="list-ui__item"><span class="uppercase  grey">4 annonces <span class="arrow-right">></span></span></li>
		  <li class="list-ui__item"><span class="uppercase  grey">2 annonces <span class="arrow-right">></span></span></li>
		  <li class="list-ui__item"><span class="uppercase  grey">1 annonce <span class="arrow-right">></span></span></li>
		</ul>
	</div>
</div>