<div class="wrapper">
	{% include header.html %}

	<div class="display-block two-thirds  margin-auto  palm-one-whole  mb++">
		<p class="date  uppercase  grey  push-half--bottom">Présentation</p>
		
		<h1 class="blue">Un titre qui en dit long</h1>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias eum nesciunt impedit ab exercitationem ad amet praesentium esse, adipisci odio sapiente saepe ducimus qui blanditiis laboriosam fuga temporibus excepturi itaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias eum nesciunt impedit ab exercitationem ad amet praesentium esse, adipisci odio sapiente saepe ducimus qui blanditiis laboriosam fuga temporibus excepturi itaque.</p>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias eum nesciunt impedit ab exercitationem ad amet praesentium esse, adipisci odio sapiente saepe ducimus qui blanditiis laboriosam fuga temporibus excepturi itaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias eum nesciunt impedit ab exercitationem ad amet praesentium esse, adipisci odio sapiente saepe ducimus qui blanditiis laboriosam fuga temporibus excepturi itaque.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias eum nesciunt impedit ab exercitationem ad amet praesentium esse, adipisci odio sapiente saepe ducimus qui blanditiis laboriosam fuga temporibus excepturi itaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias eum nesciunt impedit ab exercitationem ad amet praesentium esse, adipisci odio sapiente saepe ducimus qui blanditiis laboriosam fuga temporibus excepturi itaque.</p>
		
		<div class="text--center">
			<a href="#" class="btn  btn--large  btn--gamma  btn--primary">Un bouton</a>
		</div>
		
	</div>
</div>