<div class="wrapper">
	<!-- to hide the address section add this param to the include header : param="hide-header-section"  -->
	<div class="layout__item one-half palm-one-whole  show-cta-palm">{% include header.html param="hide-header-section" param2="show-call-to-action" %}</div><!--
	--><div class="layout__item one-half hide-palm  hide-address-lap">{% include header.html param2="show-call-to-action" %}</div>
	
	<div class="layout__item one-half    palm-one-whole">
		<div class="display-block two-thirds  margin-auto  palm-one-whole  mb++">
			<p class="date  uppercase  grey  text--center">octobre/novembre 2014</p>
		
			<h1 class="blue  text--center  beta  gamma--mobile lh1 mb">L'immobilier des Landes, du Pays Basque,...</h1>
			
			<ul class="menu list-ui  list-ui--small">
			  <li class="list-ui__item"><span class="uppercase  grey">Couverture<span class="arrow-right">></span></span></li>
			  <li class="list-ui__item"><span class="uppercase  grey">Sommaire<span class="arrow-right">></span></span></li>
			  <li class="list-ui__item"><span class="uppercase  grey">Page simple <span class="arrow-right">></span></span></li>
			</ul>
		</div>
	</div><!--
	--><div class="layout__item one-half    palm-one-whole">
		<div class="display-block two-thirds  margin-auto  palm-one-whole  mb++">
			<p class="date  uppercase  grey  text--center">Sommaire</p>
			<h1 class="blue  text--center  beta  gamma--mobile lh1 mb">... du Béarn <br>et de la Bigorre</h1>
			<ul class="menu list-ui  list-ui--small">
			  <li class="list-ui__item"><span class="uppercase  grey">9 annonces <span class="arrow-right">></span></span></li>
			  <li class="list-ui__item"><span class="uppercase  grey">6 annonces <span class="arrow-right">></span></span></li>
			  <li class="list-ui__item"><span class="uppercase  grey">4 annonces <span class="arrow-right">></span></span></li>
			  <li class="list-ui__item"><span class="uppercase  grey">2 annonces <span class="arrow-right">></span></span></li>
			  <li class="list-ui__item"><span class="uppercase  grey">1 annonce <span class="arrow-right">></span></span></li>
			</ul>
		</div>
	</div>
</div>